<h2 class="menu-title" style="text-align: center;">Créer une nouvelle sortie</h2>


<div class="form-event" [formGroup]="eventForm">
  <mat-form-field>
    <mat-label>Nom de l'événement</mat-label>
    <input matInput formControlName="name" (blur)="updateErrorMessage()" required />
  </mat-form-field>
  <div class="responsive-container">
    <mat-form-field>
      <mat-label>Date de l'événement</mat-label>
      <input matInput [min]="minDate"  [matDatepicker]="startDatePicker" 
      (dateChange)="onDateChange($event)"
          required>
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="startDatePicker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #startDatePicker  ></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Heure de l'événement</mat-label>
      <input matInput [ngxMatTimepicker]="pickerB" [format]="24" formControlName="eventTime" placeholder="14:00"
       placeholder="" required readonly>
      <mat-icon matSuffix (click)="pickerB.open()">watch_later</mat-icon>
    </mat-form-field>
    <ngx-mat-timepicker #pickerB (timeSet)="onTimeChange($event)"></ngx-mat-timepicker>
  </div>
  <app-duration style="width:100%" (valueChange)="onDurationChange($event)"></app-duration>
  <app-address-input style="width:100%" (addressSelected)="onAddressSelected($event)"></app-address-input>
 @if(errorAddress.length > 0){
  <div class="errorMessage"><p>{{errorAddress}}</p></div>
 }
  <br />
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea style="min-height: 170px;" matInput formControlName="infos" (blur)="updateErrorMessage()"></textarea>
  </mat-form-field>

  <div class="responsive-container">
    <mat-form-field>
      <mat-label>Nombre maximal de participants (vous inclus)</mat-label>
      <mat-select formControlName="maxMembers">
        @for (num of numbers; track $index) {
        <mat-option [value]="num">
          {{ num }}
        </mat-option>
        }

      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Fin des inscriptions</mat-label>
      <input matInput [min]="minDate" [matDatepicker]="deadlinePicker" formControlName="deadline">
      
      <mat-datepicker-toggle matIconSuffix [for]="deadlinePicker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #deadlinePicker></mat-datepicker>
    </mat-form-field>
  </div>
  <div style="justify-content: start; flex: 1; width: 100%;">
    <app-file-upload (fileUploaded)="onFileUploaded($event)" (uploadFailed)="onFailedUpload()" (uploadCanceled)="onFailedUpload()"></app-file-upload>
  </div>
  <br />
  <mat-checkbox   (change)="updateCheckbox($event.checked)">Enregistrer en tant que
    brouillon</mat-checkbox>
  <div style="display:flex; gap: 20px; flex-direction: row-reverse;">
    <button mat-stroked-button (click)="submit()" [disabled]="isSubmitting">Créer la sortie</button>
    <button mat-button (click)="navigateTo('/')">Annuler</button>
  </div>
</div>
