<div class="login-container" [formGroup]="loginForm">
    <h2 style="align-self: center;">LOGO</h2>
    <br />
    <div class="login-form">
        <div>
            <mat-form-field>
                <mat-label>Identifiant</mat-label>
                <input matInput placeholder="" formControlName="username">
            </mat-form-field>

        </div>
        <div>
            <mat-form-field>
                <mat-label>Mot de passe</mat-label>
                <input matInput type="password" placeholder="" formControlName="password">
            </mat-form-field>

        </div>
    </div>
    <div style="display:flex;  gap: 20px; ">
        <p> <mat-checkbox id="isRemembered" formControlName="isRemembered"> Se souvenir de moi</mat-checkbox> </p>
        <button  mat-raised-button (click)="connect()" [disabled]="!loginForm.valid">Connexion</button>
    
    </div>

    @if (error) {
    <div class="alert alert-danger">
        {{error}}
    </div>
    }


</div>