<p>time-picker works!</p>
<mat-form-field appearance="fill">
    <input matInput [matAutocomplete]="autoHours" [(ngModel)]="selectedHour" placeholder="HH" readonly (focus)="openHourDropdown()">
    <mat-autocomplete #autoHours="matAutocomplete">
      <mat-option *ngFor="let hour of hours" [value]="hour" (click)="onHourSelected(hour)">
        {{ hour }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  
  <mat-form-field appearance="fill">
    <input matInput [matAutocomplete]="autoMinutes" [(ngModel)]="selectedMinute" placeholder="MM" readonly (focus)="openMinuteDropdown()">
    <mat-autocomplete #autoMinutes="matAutocomplete">
      <mat-option *ngFor="let minute of minutes" [value]="minute" (click)="onMinuteSelected(minute)">
        {{ minute }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  