@if (isLoading) {
<mat-progress-spinner></mat-progress-spinner>
}@else {
<h2 class="menu-title">Accueil - WIP</h2>


<div class="form-search" [formGroup]="searchForm" (ngSubmit)="search()">
    <div style="display:flex; flex-direction: row; flex-wrap: wrap; margin-bottom: -20px;">
        <mat-form-field class="campusList">
            <mat-label>Campus</mat-label>
            <mat-select [(value)]="selectedCampus" (selectionChange)="search()">
                @for (camp of campusList; track $index) {
                <mat-option [value]="camp.id">{{camp.name}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <input class="searchInput" type="text" placeholder="Entrez un mot clé" id="searchbar"
            formControlName="keyword" />
        <div>
            <a class="clearButton" mat-stroked-button (click)="clear()" target="_blank">
                <!-- <mat-icon icon="delete"></mat-icon> -->

                Effacer
            </a>
        </div>
    </div>
    <div style="display: flex; flex-direction: row; align-items: center;  flex-wrap: wrap; ">
        <div class="dateRange">
            <mat-form-field>
                <mat-label>Définissez une période</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input formControlName="startDate" matStartDate placeholder="Date minimale">
                    <input formControlName="endDate" matEndDate placeholder="Date maximale">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>

        </div>
        <div class="fullFilter"> <mat-checkbox (change)="updateFilter()">Masquer les
                sorties pleines</mat-checkbox> </div>

    </div>
</div>
<p> todo: responsive design, gestion des longues listes </p>
<div class="section-title">Sorties trouvées</div>

@if (eventsLoading) {
<mat-progress-spinner></mat-progress-spinner>
}@else {
<div style="width: 100%;  flex-direction: column; display: flex; align-items: center; overflow-y: auto; ">
    @for (ev of searchedEvents; track $index) {
    @if (maskedFull && (ev.maxMembers != ev.currentMembers)) {

    <search-panel></search-panel>

    } @else{

    <search-panel [event]="ev"></search-panel>

    }

    }
</div>
}

}