<h1>LOGO Sortir.com</h1>
<br />
<h2>bloc mises à jour conditionnel</h2>
<nav>

   <button (click)="navigateTo('/home')">Accueil</button>
   <br />
   <button (click)="navigateTo('/events')">Mes sorties</button>



   <br />
   <div class="container-navbar">
      <div class="user-navbar">
         <p>insérer composant user profile (photo+ nom + 'mon profile')</p>
         <h2>{{fullName}}</h2>
         <br />
         <p>insérer test condition pour boutons</p>

         <button (click)="navigateTo('/login')">Se connecter</button>
         <button (click)="logout()">Se déconnecter</button>

      </div>
   </div>


</nav>