@use '../../../styles/variables' as *;

.event-page {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    background-color: $base-color-light;
    border-radius: 10px;
    padding-top:14px;
}


.default-picture {
    background-color: rgb(163, 163, 163);
    height: 350px;
    width: 90%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    
}
.default-picture img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.event-picture{
    height: 350px;
    width: 90%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    position: relative;
}
.event-picture img {
    position: absolute;
    height: 100%;
    width: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
}

.left-block {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 320px;
    align-items: center;
    justify-content: center;
}

.right-block {
    flex: 1.5;
    min-height: 600px;
    min-width: 350px;
    padding: 20px;
}

.confirmation{
    font-style: italic;
    color: rgb(0, 190, 0);
}


@media (max-width: 850px) and (min-width:606px) {
    .event-page
    ,.right-block {
        width: 100%;
       
    }
   
}
@media (max-width:605px){
    .left-block,.right-block {
    flex:1;
    }
}

@media (min-width: 851px) {
    .event-page {
        width: 80%;
    }
}
