.container {
    background-color: rgb(240, 255, 255);
    border-radius: 15px;
     //width: 1200px;
     width: 100%;
     min-width: 400px;
    user-select: none;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    //flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;

}

.container:hover {
    background-color: white;
    scale: 101%;
}

.line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     
    justify-items: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
   
}

.name {
    flex: 1;
    font-size: 18px;
    font-weight: 500;
    min-width: 170px;
}

.location {
    flex: 1;
    min-width: 220px;
}

.date {
    flex: 0.8;
    display: flex;
    align-items: center;
    min-width: 140px;

}

.members {
    flex: 0.5;
}

.statusBlock {
    flex: 0.5;
}

.status {

    font-size: 13px;
    border-radius: 4px;
    color: #000000;
    border: 1px rgb(199, 199, 199) solid;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
}

.separation {
    padding-left: 10px;
    padding-right: 10px;
    flex: 0.2;
    transform: scaleY(2.5);
    transform-origin: center;
    font-weight: 300;
    color: rgba(165, 165, 165, 0.568);
}

@media (max-width:605px) {
    .members {
        display: none;
    }

    .separation {
        padding-left: 2px;
        padding-right: 2px;
        visibility: hidden;
        display: none;
    }

    .statusBlock {
        flex: 0.2;
    }

    .date {
        min-width: 200px;
    }
    .name .location{
        flex:1;
    }

    .container {
        flex-wrap: wrap;
        min-width: 200px;
    }

    .line {
        padding-top: 5px;
        padding-bottom: 5px;
    }

}

@media (max-width: 1300px) and (min-width:606px) {
    .line {
        padding-top: 5px;
        padding-bottom: 5px;
        // gap: 12px;
        justify-content: flex-end;
        // flex-direction: column;
    }
    .container{
        height:100px;
    }

    .members {
       display: none;
    }
    .date {
        min-width:160px;
    }
    .separation {
        padding-left: 5px;
        padding-right: 5px;
        visibility: hidden;
    }
  
.statusBlock{
  flex:0.2;
  margin-left: auto;
  justify-content: flex-end;
    
}
}