<nav>
   <div class="navbar-topblock">
      <h1 style="align-self: center; color:white;">LOGO</h1>
      <br/>
      <button mat-button (click)="navigateTo('/home')">Accueil</button>

      <button mat-button (click)="navigateTo('/events')">Mes sorties</button>
      <button mat-button (click)="navigateTo('/events/new')">Proposer une sortie</button>

   </div>


   <div class="navbar-loginblock">
      <div class="user-navbar">
         @if(isLoggedIn){
                  <p>{{fullName}}</p>
               
         }
         

         @if(!isLoggedIn){
            <button mat-button (click)="navigateTo('/login')">Se connecter</button>

         }        @else {
            <button mat-button (click)="logout()">Se déconnecter</button>
         }

      </div>
   </div>


</nav>